<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="fragments/heads :: heads"></head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <main class="container main-content mb-5">
        <h1 class="mb-4">Editar Produto</h1>
        <div class="card">
            <div class="card-body">
                <form th:object="${produto}" th:action="@{/produtos/editar/{id}(id=${produto.id})}" th:method="post">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome do Produto</label>
                        <input type="text" class="form-control" id="nome" th:field="*{nome}">
                    </div>
                    <div class="mb-3">
                        <label for="marca" class="form-label">Marca/Fornecedor</label>
                        <input type="text" class="form-control" id="marca" th:field="*{marca}">
                    </div>
                    <div class="mb-3">
                        <label for="codigoInterno" class="form-label">Código Interno</label>
                        <input type="text" class="form-control" id="codigoInterno" th:field="*{codigoInterno}">
                    </div>
                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo</label>
                        <input type="text" class="form-control" id="tipo" th:field="*{tipo}">
                    </div>

                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    <a href="/produtos" class="btn btn-secondary ms-2">Cancelar</a>
                </form>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>