<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="fragments/heads :: heads"></head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <main class="container main-content mb-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Lista de Produtos</h1>
            <a href="/produtos/novo" class="btn btn-success">Novo Produto</a>
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Marca/Fornecedor</th>
                            <th>Código Interno</th>
                            <th>Tipo</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="produto : ${produtos}">
                            <td th:text="${produto.id}"></td>
                            <td th:text="${produto.nome}"></td>
                            <td th:text="${produto.marca}"></td>
                            <td th:text="${produto.codigoInterno}"></td>
                            <td th:text="${produto.tipo}"></td>
                            <td>
                                <a th:href="@{/produtos/editar/{id}(id=${produto.id})}" class="btn btn-sm btn-warning">Editar</a>
                                <!-- Formulário para deletar o usuário -->
                                <form th:action="@{/produtos/apagar/{id}(id=${produto.id})}" method="post" style="display:inline;">
                                    <input type="hidden" name="_method" value="delete" />
                                    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja apagar este usuário?');">Excluir</button>
                                </form>
                            </td>
                        </tr>
                        <tr th:if="${#lists.isEmpty(produtos)}">
                            <td colspan="6" class="text-center">Nenhum produto encontrado.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
